<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTamLinh"
        tools:targetApi="31">
        <activity
            android:name=".ThanSHFeature.ThanSHLaGiActivity"
            android:parentActivityName=".ThanSHFeature.ThanSoHocActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileFeature.NhapMaActivity"
            android:parentActivityName=".ProfileFeature.PersonalProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ThanSHFeature.CacChiSo.CacChiSoDetailActivity"
            android:exported="false"
            android:parentActivityName=".ThanSHFeature.ThanSoHocActivity" />
        <activity
            android:name=".ThanSHFeature.CacChiSo.CacChiSoInputActivity"
            android:exported="false"
            android:parentActivityName=".ThanSHFeature.ThanSoHocActivity" />
        <activity
            android:name=".ProfileFeature.MoiBanBeActivity"
            android:exported="false"
            android:parentActivityName=".ProfileFeature.PersonalProfileActivity" />
        <activity
            android:name=".ThanSHFeature.TuongHopTinhYeu.TuongHopTinhYeuDetailActivity"
            android:exported="false"
            android:parentActivityName=".ThanSHFeature.ThanSoHocActivity" />
        <activity
            android:name=".ThanSHFeature.TuongHopTinhYeu.TuongHopTinhYeuInputActivity"
            android:exported="false"
            android:parentActivityName=".ThanSHFeature.ThanSoHocActivity" />
        <activity
            android:name=".ThanSHFeature.LuanGiaiSDT.LuanGiaiSDTDetailActivity"
            android:exported="false"
            android:parentActivityName=".ThanSHFeature.ThanSoHocActivity" />
        <activity
            android:name=".ThanSHFeature.LuanGiaiSDT.LuanGiaiSDTInputActivity"
            android:exported="false"
            android:parentActivityName=".ThanSHFeature.ThanSoHocActivity" />
        <activity
            android:name=".ThanSHFeature.ChuKyVanSo.ChuKyVanSoDetailActivity"
            android:exported="false"
            android:parentActivityName=".ThanSHFeature.ThanSoHocActivity" />
        <activity
            android:name=".ThanSHFeature.ChuKyVanSo.ChuKyVanSoInputActivity"
            android:exported="false"
            android:parentActivityName=".ThanSHFeature.ThanSoHocActivity" />
        <activity
            android:name=".ProfileFeature.ChinhSuaProfileActivity"
            android:exported="false"
            android:parentActivityName=".ProfileFeature.PersonalProfileActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThanSHFeature.BieuDoTongHop.BieuDoTongHopDetailActivity"
            android:exported="false"
            android:parentActivityName=".ThanSHFeature.BieuDoTongHop.BieuDoTongHopInputActivity" />
        <activity
            android:name=".ThanSHFeature.BieuDoTongHop.BieuDoTongHopInputActivity"
            android:exported="false"
            android:parentActivityName=".ThanSHFeature.ThanSoHocActivity" />
        <activity
            android:name=".ThanSHFeature.BieuDoNgaySinh.BieuDoNgaySinhDetailActivity"
            android:exported="false"
            android:parentActivityName=".ThanSHFeature.BieuDoNgaySinh.BieuDoNgaySinhInputActivity" />
        <activity
            android:name=".ThanSHFeature.BieuDoNgaySinh.BieuDoNgaySinhInputActivity"
            android:exported="false"
            android:parentActivityName=".ThanSHFeature.ThanSoHocActivity" />
        <activity
            android:name=".TarotFeature.TarotTQDetailActivity"
            android:exported="false"
            android:parentActivityName=".TarotFeature.TarotActivity" />
        <activity
            android:name=".TarotFeature.TarotTongQuanActivity"
            android:exported="false"
            android:parentActivityName=".TarotFeature.TarotActivity" />
        <activity
            android:name=".TarotFeature.SliderDetail.Slider3Detail_Tarot"
            android:exported="false"
            android:parentActivityName=".TarotFeature.TarotActivity" />
        <activity
            android:name=".TarotFeature.SliderDetail.Slider1Detail_Tarot"
            android:exported="false"
            android:parentActivityName=".TarotFeature.TarotActivity" />
        <activity
            android:name=".TarotFeature.TarotHangNgayActivity"
            android:exported="false"
            android:parentActivityName=".TarotFeature.TarotActivity" />
        <activity
            android:name=".ChiemTinhFeature.ChiemTinhDetailActivity"
            android:exported="false"
            android:parentActivityName=".ChiemTinhFeature.ChiemTinhActivity" />
        <activity
            android:name=".ChiemTinhFeature.ChiemTinhListActivity"
            android:exported="false"
            android:parentActivityName=".ChiemTinhFeature.ChiemTinhActivity" />
        <activity
            android:name=".ChiemTinhFeature.ChiemTinhLaGiActivity"
            android:exported="false"
            android:parentActivityName=".ChiemTinhFeature.ChiemTinhActivity" />
        <activity
            android:name=".CongDongActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ThanSHFeature.ThanSoHocActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ChiemTinhFeature.ChiemTinhActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".TarotFeature.TarotActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ProfileFeature.PersonalProfileActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterFeature.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>